{% extends 'theme/base.html' %}

{% block title %}All Meetings{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-lg max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">All Meetings</h1>
    <ul class="space-y-4">
        {% for meeting in meetings %}
            <li class="p-4 bg-gray-50 rounded-md border border-gray-200">
                <a href="{% url 'meeting_detail' meeting.pk %}" class="hover:text-blue-600">
    <p class="text-lg font-semibold text-gray-700">{{ meeting.title }}</p>
</a>
                <p class="text-sm text-gray-500">{{ meeting.meeting_date }}</p>
            </li>
        {% empty %}
            <li class="text-gray-500">No meetings found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}